#home {
  background-color: #ffff10;
}

#home > img {
  margin-top: 20px;
}

nav {
  background-color: black;
  color: white;
}

.navbar-nav,
.nav-link,
.navbar-brand {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: yellow;
}

.navbar-brand:hover {
  color: yellow;
}
